# Python関連
__pycache__/
*.pyc

# VSCodeなどエディタ関連
.vscode/

# 共有フォルダ内の動画・画像を無視（ただしフォルダ自体は残す）
shared/*
!shared/.keep
dataset/*/*
!dataset/block/.keep
!dataset/none/.keep
!dataset/receive/.keep
!dataset/serve/.keep
!dataset/spike/.keep